@import 'tailwindcss';

@theme {
  --color-black-500: #171717;
  --color-blue-500: #007aff;
  --color-bg-message-received: #2d2d2e;
}

html,
body,
#root {
  @apply box-border h-full w-full;
}
body {
  @apply bg-slate-800;
}
